@media screen and (max-width: 940px) {
  .container {
    width: 93%;
  }


  nav {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 96%;
  }

  main {
    h2 {
      font-size: 22px;
    }
  }

  .partners-grid {
    margin: 0 auto;

    .partner-person {
      width: 236px;
      height: 224px;
      padding-right: 20px;
    }

  }

  .gallery {

    grid-auto-rows: 236px;

    .gallery-text {
      position: absolute;
      top: 110px;
      left: 30px;
    }

    .gallery-img4 {
      left: 90px;
    }

    .gallery-img5,
    .gallery-img6 {
      left: 130px;
    }

    .gallery-img7 {
      left: 90px;
    }

    .w-3 {
      grid-column: span 2;
    }
  }

  .footer-container {
    width: 93%;
  }

}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  header {
    // width: 320px;
    width: 100%;
    height: 540px;
    background-position: center;

  }

  nav {
    width: 41%;
    flex-direction: column-reverse;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 94px;
  }

  .banner {
    width: 320px;
    margin-top: 40px;

    .banner-heading {
      font-size: 30px;
      line-height: 40px;
    }

    .banner-text {
      font-size: 18px;
      padding: 18px 0;
    }

    .find {
      padding: 12px 46px;
    }
  }

  main {
    width: 320px;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }
  .grid-cards {
    left: 30px;
    width: 200px;
  }

  .partners {

    margin: 0 auto;

    .partners-grid {
      flex-direction: column;
      align-content: center;
      width: 320px;

      .partner-person {
        width: 236px;
        height: 205px;
        padding-bottom: 30px;
      }
      
    }

    .partners-btn {
      width: 280px;
    }
  }

  .gallery {
    grid-template-columns: 1fr;

    .w-3 {
      grid-column: span 1;
    }

    .gallery-text {
      position: absolute;
      top: 100px;
      left: 68px;
    }

    .gallery-img3 {
      left: 23px;
    }

    .gallery-img4,
    .gallery-img7 {
      left: 127px;
    }

    .gallery-img5
    {
      left: 48px;
    }
    .gallery-img6{
      left: 26px;
    }


  }

  .create-search {
    width: 280px;

    input,
    .create-btn {
      width: 280px;
      display: block;
      margin: 0 auto;
    }

    .create-btn {
      margin-top: 20px;
    }
  }

  footer {
    width: 320px;
    .footer-container {
      width: 100%;
      flex-direction: column;
      align-items: center;

      .footer-col1 {
        padding-bottom: 20px;
      }

      h3 {
        text-align: center;
      }

      ul {
        height: 52px;
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }


      .footer-col4 {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

  }

}