$bt-color: #FF4E50;
$bg-color: #F2F2F2;
$text-light: #ffffff;
$text-small:#E3E3E3;
$header-text: #F7F3F2;
$dark-grey: #444444;
$light-grey:  #666666;
$lighter-grey: #999999;
$border-color: #D4D4D4;
$footer-color: #cccccc;
$bg-img: url(../img/header.png);
